<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in chats %}
        <h1> {{ i.user1.username }} {{ i.user2.username }} </h1>
        {% for msg in allmsgs %}
            {% if msg.chatID.id == i.id %}
                <h4> {{ msg.msg }} </h4>
            {% endif %}
        {% endfor %}    
        <form action="/createmessage" method="POST">
            {% csrf_token %}
            <input type="hidden" name="chatID" value="{{ i.id }}">
            <label for="message">Message:</label>
            <input type="text" id="fname" name="msg" placeholder="..."><br><br>
            <button type="submit" value="Submit">Submit</button>
        </form>    
    {% endfor %}
</body>
</html>