<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/donation/edit/{{prod.id}}' method='POST'>
        {% csrf_token %}
        <label for="produce_name"> Produce Name </label><br>
        <input type="text" id="fname" name="name" placeholder = {{prod.produce_name}}><br>
        <label for="weight"> Weight </label><br>
        <input type="text" id="lname" name="weight" placeholder={{prod.weight}} default ={{prod.weight}}>
        <!-- Add fruit/vegetable type selector -->
        <!-- Add image selector -->
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">EDIT</button>
    </form>
</html>