body {
    padding: 0;
    margin: 0;
    background: #E7F3E1;
}

/* NAVBAR */
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #E7F3E1;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.btn {
    border:1px solid #9FCF86;
    background:#E7F3E1;
    border-radius: 12px;
    color:#6ab446;
}
.btn:hover {
    border:1px solid #E7F3E1;
    background:#9FCF86;
    border-radius: 12px;
    color:#E7F3E1;
}

.btn-primary {
    border:1px solid #9FCF86;
    background:#6ab446;
    border-radius: 12px;
    color:#E7F3E1;
}
.btn-primary:hover {
	border:1px solid #9FCF86;
    background:#fff;
    color:#6ab446;
}
.btn-primary:disabled {
	border:1px solid #6ab446;
    background:#fff;
    color:#A1AE9A;
}

/* HEADER */
.header {
    background-image: url('img/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #9FCF86;
    background:#6ab446;
    border-radius: 12px;
    color:#E7F3E1;
}
.description button:hover {
	border:1px solid #9FCF86;
    background:#E7F3E1;
    color:#6ab446;
}

/* 3 COLUMNS */ 
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-list {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	/*text-transform: uppercase;*/
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

/* FOOTER */
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
	margin-top: 15px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

/* WELCOME */
.welcome {
	text-align: center;
	padding: 2px 0;
}
.welcome h3{
	color:#E7F3E1;
}


/* SEARCH FORM */
.form-group {
	margin-top: 16px;
}

.form-group input, button, label, select {	
	margin-bottom: 15px;
	margin-left: 5px;
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.form-switch .form-check-input:checked {
    background-color: #6ab446;
    border-color: #6ab446;
    border: none;
}

/* Styling tables for requests */
.container {
	margin-top: 25px;
	margin-bottom: 25px;
}
.tablecontent {
	margin-top: 15px; 
	margin-bottom: 0px;
}

/* For uploading a new profile picture in Profile 
source: (https://qawithexperts.com/article/css/styling-input-typefile-button-using-css-bootstrap/89) */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
	border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload:hover {
    border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #6AB446;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* User profile in modal */
.user-in-modal {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* CHAT */
.container-xxl {
	margin: 15px;
}
.chat-box {
	margin: 15px;
	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
	
	height:490px; /* 425 if including footer */
	width:100%;
}
.chat-list {
	height:100%;
	
	overflow-y: scroll;
}
.active-chat {
	padding-top: 19px;
	padding-bottom:10px;
	padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
	
	display:table;
	height:490px; /* 425 if including footer */
}
.message-box {
	height:75%; /* 75% if including footer */
	
	overflow-y: scroll;
}
.list-group button {
	background-color: #E7F3E1;
}
.list-group button:hover {
	background-color: #6ab446;
}
/* LEFT Adapted from https://www.bootdey.com/snippets/view/bs4-simple-chat-app#preview */
.users {
    padding: 0;
}
.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #6ab446;
}

.users .person:hover {
    background-color: #E7F3E1;
}

.users .person:active {
    background-color: #6AB446;
}
.users .person:checked {
	background-color: #6AB446;
}
.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-flex;
    position: relative;
    margin-right: 0px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.users .person p.chat-info {
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-block;
}

.users .person p.chat-info .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: left;
    color: #656565;
}
.users .person p.chat-info .last-chat {
    font-weight: 400;
    font-size: .85rem;
    text-align: left;
    color: #5F5B55;
	
	/* To display the first few characters then ellipsis */
	display: block;
	width: 250px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

/* RIGHT Adapted from https://www.bootdey.com/snippets/view/bs4-simple-chat-app#preview */
.chat-container {
    position: relative;
    padding: 0.25rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 35px;
}

.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .chat-avatar {
    margin-right: 20px;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container li .chat-text::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text {
    text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}



/* To remove blue highlight */
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

/* FOR MOBILE SITE */
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
.d-flex {
}
