<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- for local reference -->
		<!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
		
		<link rel="stylesheet" type="text/css" href="./../static/css/main.css">
		
		<title>Landing Page</title>
		
		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- style for image above sign in (branding icon) -->
		<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			margin-top: 15px;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
			font-size: 3.5rem;
			}
		}		
		  </style>
      
	</head>
    
	<body>
		
		<!-- Navbar -->
	
		<nav class="navbar navbar-expand-md">
			<div class="container-fluid"> 
				<a class="navbar-brand" href="/landing">Garden of Feedin'
				</a>
				<button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main-navigation">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/profile">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/messages">Messages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/manage">Manage Posts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/managerequests">Manage Requests</a>
						</li>
						
						<li class="nav-item">
							<a href="/signout" class="btn">Sign Out</a>
							<!-- when you press the button should there be a sign-out.html that confirms signing out? or is going back to the homepage.html enough (of course with the back end signing them out) 
							There are 'simple alerts' that I think I can include in the homepage so when signing out, it shows up at the top of the homepage which informs the user of a successful sign out -->
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- Welcome Bar -->
		<nav class="navbar-light navbar-expand-md" style="background-color: #9FCF86;">
			<div class="welcome">
 			 <h3>Welcome {{ username }}</h3>
			</div>
		</nav>
		
		<!-- Search bar and filtering options -->
		<div class="container-fluid form-group ">
			<div class="row">
				<form class="d-flex column-3" action='/search' method='POST'>
					{% csrf_token %}
					<input class="form-control me-2 w-50" id="search" type="search" placeholder="Type here..." name="search" aria-label="Search">
					<button class="btn btn-primary" type="submit">Search</button>
	
				<h class="align-self-center form-check form-switch">
					{% if recieving %}
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="recieving" Checked>
					{% else %}
					<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="recieving">
					{% endif %}
					<label class="form-check-label" for="flexSwitchCheckDefault">Want to give / Want to receive</label>
				</h>
			  
			  <!--<button class="flex-grow-1 btn btn-primary" id="btn-fruit" type="submit">Fruit</button>
			  <button class="flex-grow-1 btn btn-primary" id="btn-vegetable" type="submit">Vegetable</button>-->
			  {% if fruits %}
			  <input type="radio" class="btn-check" name ="type" id="btn-fruit" autocomplete="off" value='fruit' Checked>
			  <label class="align-self-center  btn btn-outline-success" for="btn-fruit">Fruit</label><br>
			  
			  <input type="radio" class="btn-check" name="type" id="btn-veg" autocomplete="off" value='veg'>
			  <label class="align-self-center  btn btn-outline-success" for="btn-veg">Vegetable</label><br>

			  {% elif veggies %}
			  <input type="radio" class="btn-check" name ="type" id="btn-fruit" autocomplete="off" value='fruit'>
			  <label class="align-self-center  btn btn-outline-success" for="btn-fruit">Fruit</label><br>
			  
			  <input type="radio" class="btn-check" name="type" id="btn-veg" autocomplete="off" value='veg' Checked>
			  <label class="align-self-center  btn btn-outline-success" for="btn-veg">Vegetable</label><br>

			  {% else %}
			  <input type="radio" class="btn-check" name ="type" id="btn-fruit" autocomplete="off" value='fruit'>
			  <label class="align-self-center  btn btn-outline-success" for="btn-fruit">Fruit</label><br>
			  
			  <input type="radio" class="btn-check" name="type" id="btn-veg" autocomplete="off" value='veg'>
			  <label class="align-self-center  btn btn-outline-success" for="btn-veg">Vegetable</label><br>
			  
			  {% endif %}

			  <select class="align-self-center w-25 form-select" aria-label="Default select example" name="dist">
				  <option selected>Distance from you</option>
				  <option value="5">&lt;5 mi</option>
				  <option value="10">10 mi</option>
				  <option value="15">15 mi</option>
				  <option value="25">25 mi</option>
				  <option value="35">35 mi</option>
			  </select>
				</form>
			</div>


			<!-- <form class="d-flex justify-content-left w-150">
				<h class="align-self-center form-check form-switch">
			  		<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			  		<label class="form-check-label" for="flexSwitchCheckDefault">Want to give / Want to receive</label>
			  	</h> -->
        		
				<!--<button class="flex-grow-1 btn btn-primary" id="btn-fruit" type="submit">Fruit</button>
        		<button class="flex-grow-1 btn btn-primary" id="btn-vegetable" type="submit">Vegetable</button>-->
				
				<!-- <input type="radio" class="btn-check" name ="options" id="btn-fruit" autocomplete="off">
				<label class="align-self-center  btn btn-outline-success" for="btn-fruit">Fruit</label><br>

				
				<input type="radio" class="btn-check" name="options" id="btn-veg" autocomplete="off">
				<label class="align-self-center w-25 btn btn-outline-success" for="btn-veg">Vegetable</label><br>
				
				<select class="align-self-center w-25 form-select" aria-label="Default select example">
					<option selected>Distance from you</option>
					<option value="5">&lt;5 mi</option>
					<option value="10">10 mi</option>
					<option value="15">15 mi</option>
					<option value="25">25 mi</option>
					<option value="35">35 mi</option>
				</select> -->

			<!--
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="distance" data-bs-toggle="dropdown" aria-expanded="false">
				  Distance
				</button>
				<ul class="dropdown-menu" aria-labelledby="distance">
				  <li><h6 class="dropdown-header">Distance from you</h6></li>
				  <li><a class="dropdown-item" href="#">&lt; 5 mi</a></li>
				  <li><a class="dropdown-item" href="#">10 mi</a></li>
				  <li><a class="dropdown-item" href="#">25 mi</a></li>
				  <li><a class="dropdown-item" href="#">35 mi</a></li>
				</ul>
			 </div>
				-->

			<form class="d-flex column-3" action='/createpost'>
				<button class="btn btn-primary" type="submit">Donate</button>
			</form>
			
			<form class="d-flex column-3" action='/createrequest'>
				<button class="btn btn-primary" type="submit">Request</button>
			</form>
			
		</div>
		
		
		
		<!-- Button trigger modal -->
		<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup">
            Launch demo modal
          </button> -->
		{% for i in searchQuery %}
		{% if i.image %}
		<!-- Modal pop-up -->
		<div class="modal fade" id="popup{{i.id}}" tabindex="-1" aria-labelledby="popupName" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="popupName">{{ i.produce_name }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <div class="row">
					<div class="col">
						<!-- <img src="{{i.image.url}}" alt="" class="rounded-circle user-in-modal"> -->
						<img class="bd-placeholder-img" width="100%" height="100%" src="{{ i.image.url }}" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>
					</div>
					<div class="col">
						<p class="card-text">{{ i.weight }} lbs<br>{{ i.description }}</p>
					</div>
					
				  </div>
				  <!-- <div class="row">
						<p>[Description]</p>
				  </div> -->
			  </div>
			  <div class="modal-footer">
				<!-- <svg class="rounded-circle" width="50" height="50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Profile Picture: 50x50" preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Profile Picture</title>
					<rect width="100%" height="100%" fill="#777"/>
				</svg> -->
				  <!-- TODO: remove user-in-modal' if the style looks off -->
				<img src="{{i.owner.image.url}}" alt="" class="rounded-circle user-in-modal" width="50" height="50">
				  
				<p class="w-50">{{ i.owner.username }}</p>

				<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
				<form action='/createchat' method='POST'>
					{% csrf_token %}
					<input type="hidden" id="custId" name="user" value="{{ i.owner.id }}">
					<button type="submit" class="btn btn-primary">Send Message</button>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		{% endif %}
		{% endfor %}
		

		
		<!-- use Modal for pop-up when clicking on a post, use Cards for the content (picture with text) -->
		<!-- Produce grid  -->
		<div class="container d-grid">
			<div class="row">
			{% for i in searchQuery %}	
				<!-- FOR WANT TO RECIEVES  -->
				{% if i.image %}
				{% if forloop.counter|divisibleby:3 %}	
				<div class="col-lg-4 col-md-4 col-sm-12 d-flex">
					<div class="card h-100 w-100" data-bs-toggle="modal" data-bs-target="#popup{{i.id}}" style="margin-bottom: 50px;">
						<img class="card-image-top h-75 w-75 align-self-center align-items-stretch"  src="{{i.image.url}}" alt = "" >
						<div class="card-body">
							<p class="card-text">{{ i.produce_name }}<br>{{ i.weight }}</p>
						</div>
					</div>
				</div>
				{% if not forloop.last %}
				
				{% endif %}
				{% else %}
				<div class="col-lg-4 col-md-4 col-sm-12 d-flex">
					<div class="card h-100 w-100" data-bs-toggle="modal" data-bs-target="#popup{{i.id}}" style="margin-bottom: 50px;">
						<img  class="card-image-top h-75 w-75 align-self-center align-items-stretch" src="{{i.image.url}}" class="card-image-top" alt = "" >
						<div class="card-body">
							<p class="card-text">{{ i.produce_name }}<br>{{ i.weight }}</p>
						</div>
					</div>
				</div>
				{% endif %}
				
				<!-- FOR WANT TO GIVES -->
				{% else %}

				<div class="container">
				{% if forloop.first %}
				<!-- please check syntax, intent is to only have this print at top (beginning of loop) -->
                    <div class="row align-items-start">
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex">Produce</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex">Weight</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex">User</div>
                    </div>
				{% endif %}
				{% if not forloop.counter|divisibleby:2 %}
				<!-- each item is printed in a new row, with separated columns -->
                    <div class="row align-items-start"  style="background-color: #9FCF86">
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">{{ i.produce_name }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">{{ i.weight }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">
							<img src="{{i.owner.image.url}}" alt="" class="rounded-circle" width="25" height="25" style="margin-top:5px;">{{ i.owner.username }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">
                                   <button type="button" class="btn btn-primary btn-sm">Send Message</button>
                        </div>
                    </div>    
       			{% else %}
 					<div class="row align-items-start">
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">{{ i.produce_name }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">{{ i.weight }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">
							<img src="{{i.owner.image.url}}" alt="" class="rounded-circle" width="25" height="25" style="margin-top:5px;">{{ i.owner.username }}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 d-flex tablecontent">
                                   <button type="button" class="btn btn-primary btn-sm">Send Message</button>
                        </div>
                    </div>  
				{% endif %}  
                </div>
				{% endif %}
				{% endfor %}	
			</div>
		</div> 

		<!-- Footer -->
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12">
						<h6 class="text-uppercase font-weight-bold">Additional Information</h6>
						<p>Disclaimers: ...</p>
						<p>... [Add link to a Privacy Policy and ToS?]</p>
					</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<p>1 Washington Sq, San Jose, California
					<br/>companyemail@website.com
					<br/>+ 01 234 567 88
					<br/>+ 01 234 567 89</p>
				</div>
					<div class="footer-copyright text-center">© 2021 Copyright: GardenOfFeedin.com</div>
				</div>
			</div>
		</footer>
		
		
		
	<!-- includes every Bootstrap JavaScript plugin and dependency with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- custom javascript files -->
	<script src="./../static/js/main.js"></script>
	</body>
	
</html>
























