<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Register</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- for local reference -->
		<!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
		
		<link rel="stylesheet" type="text/css" href="./../static/css/main.css">
		<link href="./../static/css/signin.css" rel="stylesheet">
		
		<!-- style for image above sign in (branding icon)
		<style>
      		.bd-placeholder-img {
        		font-size: 1.125rem;
        		text-anchor: middle;
        		-webkit-user-select: none;
        		-moz-user-select: none;
        		user-select: none;
      		}

      		@media (min-width: 768px) {
        		.bd-placeholder-img-lg {
          		font-size: 3.5rem;
        		}
      		}		
    	</style>
		-->

	</head>
    
	<body class="text-center">
	
		<nav class="navbar navbar-expand-md">
			<div class="container-fluid"> 
				<a class="navbar-brand" href="/">Garden of Feedin'</a>
			</div>
		</nav>
    
		<main class="form-register">
		  <form action="/createuser" method="POST">
			{% csrf_token %}
			<!-- for image above sign in (branding icon)
			<img class="mb-4" src="./../static/img/column-1.jpg" alt="" width="72" height="57"> 
			-->
			<h1 class="h3 mb-3 fw-normal">Registration</h1>
			  <p>Please enter your information to create an account.</p>
			  <div class="form-floating">
				<input type="username" class="form-control" id="floatingInput" placeholder="username" name="username">
				<label for="username">Username</label>
			  </div>
			<div class="form-floating">
			  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
			  <label for="email">Email</label>
			</div>
			<div class="form-floating">
			  <input type="address" class="form-control" id="floatingAddress" placeholder="123 Main Street, City, CA" name="address">
			  <label for="address">Address</label>
			</div>
			<div class="form-floating">
			  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
			  <label for="password">Password</label>
			</div>
			<br>
			<!-- <div class="form-floating">
			  <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
			  <label for="floatingPassword">Confirm Password</label>
			</div> -->

			<!-- <form action = "/make" method="POST">
				{% csrf_token %}
				<label for="username">username:</label><br>
				<input type="text" id="un" name="username"><br>
				<label for="email">email:</label><br>
				<input type="text" id="un" name="email"><br>
				<label for="password">password:</label><br>
				<input type="password" id="pw" name="password">
				<br>
				<input type="submit" value="Submit">
			</form> -->
			  
			<style> h {text-align: left} </style>
			<!-- <h class="form-check form-switch">
			  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			  <label class="form-check-label" for="flexSwitchCheckDefault">Registering as a corporation</label>
			</h> -->
			  
			<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
			  
			<div class="container signin">
    			<p>Already have an account? <a href="/signin">Sign in</a>.</p>
 			</div>
		  </form>
		</main>

		<style> footer {text-align: left} </style>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12">
						<h6 class="text-uppercase font-weight-bold">Additional Information</h6>
						<p>Disclaimers: ...</p>
						<p>... [Add link to a Privacy Policy and ToS?]</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<p>1 Washington Sq, San Jose, California
						<br/>companyemail@website.com
						<br/>+ 01 234 567 88
						<br/>+ 01 234 567 89</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center">© 2021 Copyright: GardenOfFeedin.com</div>
		</footer>

	
	<!-- custom javascript files -->
	<script src="static/js/main.js"></script>	
	<!-- includes every Bootstrap JavaScript plugin and dependency with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	</body>
</html>
























